#drinks-wrapper{
  background-image: url(img/Brick-Background-Hattricks.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  
  .shamrock{
    -webkit-filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.9));
    filter: drop-shadow(2px 2px 3px rgba(0,0,0,0.9));
  }
  
  .food-circle-image{
    margin: 0 15px;
  }
  
  .menu-price{
    float: right;
  }
  
  .food-menu-section-header{
    font-size: 44px;
  }
  
  .jumbotron{
    background-color: transparent;
  }
  
  #menu-wrapper{
    background-color: $green-glass;
    
    #section-food-pregame{
    }
    
    hr{
      color: green;
    }
    
  }
  
  #section-drinks-specials{
    
    .row{
      position: relative;
    }
    
    .col-md-6:first-of-type{
      padding-bottom: 15px;
    }
    
    #drinks-specials-wrapper{
      position: absolute;
      bottom: 0;
      right: 0;
    }
    
    h1{
      
    }
  }
  
  #section-drinks-wine-red{
    background-color: $green-glass;
    margin-bottom: 45px;
    
    p{
      margin-bottom: 30px;
    }
  }
  
  #section-drinks-wine-white{
    background-color: $green-glass;
    margin-bottom: 45px;
    
    p{
      margin-bottom: 30px;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

  #section-drinks-specials{
    height: 231px;
    
    h1{
      font-size: 50px;
      
      span{
        font-size: 36px;
        line-height: 20px;
      }
    }
    
    h2{
      margin-bottom: 0px;
    }
  }


}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
  #menu-wrapper{
    min-height: 60vh;
  }
  
  #section-food-pregame{
    //overflow-y: scroll;
    //max-height: 60vh;
  }
    

}