@import 'https://fonts.googleapis.com/css?family=Bevan';
@import 'https://fonts.googleapis.com/css?family=Montserrat';

.font-white{
  color: #FFF!important;
}

.font-yellow{
  color: #f6ee3d;
}

.font-bevan{
  font-family: 'Bevan', Times New Roman, serif!important;
  text-transform: uppercase;
  font-weight: normal;
}

$bevan: 'Bevan', Times New Roman, serif!important;