#food-wrapper{
  background-image: url(img/Brick-Background-Hattricks.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
  
  .food-circle-image{
    margin: 0 15px;
  }
  
  .menu-price{
    float: right;
  }
  
  .food-menu-section-header{
    font-size: 44px;
  }
  
  .jumbotron{
    background-color: transparent;
  }
  
  #menu-wrapper{
    background-color: $green-glass;
    
    #section-food-pregame{
    }
    
    hr{
      color: green;
    }
    
  }
  
  #section-food-pregame{
    background-color: $green-glass;
    margin-bottom: 45px;
    
    p{
      margin-bottom: 30px;
    }
  }
  
  #section-food-first{
    background-color: $green-glass;
    margin-bottom: 45px;
    
    p{
      margin-bottom: 30px;
    }
  }
  
  #section-food-second{
    background-color: $green-glass;
    margin-bottom: 45px;
    
    p{
      margin-bottom: 30px;
    }
  }
  
  #section-food-third{
    background-color: $green-glass;
    margin-bottom: 45px;
    
    p{
      margin-bottom: 30px;
    }
  }
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {  }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  
  #menu-wrapper{
    min-height: 60vh;
  }
  
  #section-food-pregame{
    //overflow-y: scroll;
    //max-height: 60vh;
  }
    

}