$yellow: #f6ee3d;
$green-glass: rgba(8, 96, 43, 0.7);
$green-solid: rgba(8, 96, 43, 1.0);
$dark-green: #02180b;

html{
  background-color: #02180b;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  height: 100vh;
}

body{
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

.no-margin{
  margin: 0px!important;
}

.no-padding{
  padding: 0px!important;
}

.hidden{
  opacity: 0;
}

.show{
  opacity: 1;
}

p,
.jumbotron p{
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.jumbotron{
  margin-bottom: 0px;
}

a{
  color: #f6ee3d;
  
  &:hover{
    color: green;
    text-decoration: none;
  }
  
  &:active{
    text-decoration: none;
  }
  
  &:focus{
    text-decoration: none;
  }
}

.text-shadow{
  text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
}

.outline{
  border: 1px dashed black;
  min-height: 100px;
}

.full-height{
  height: 100vh;
}

.padding-top-30{
  padding-top: 30px!important;
}

.padding-bottom-30{
  padding-bottom: 30px!important;
}

.btn.btn-primary.btn-hattricks{
  background-color: $green-glass;
  border: none;
  border-radius: 0px;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  display: inline-block;
  
  &:hover{
    background-color: $green-solid;
  }
}

.offScreen
{
    opacity:0;
    top: 60px;
}

.onScreen{
    opacity: 1;
    top: 0px;
}
