#hattricks-navbar{
  background-image: none;
  box-shadow: none;
  background-color: rgba(8,96,43,0.0);
  width: 100%;
  border: none;
  margin-bottom: 0px;
  border-top: 0px;
  -webkit-transition: background-color .3s;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  
  #navbar{
    text-align: center;
  }
  
  .navbar-nav{
    display: inline-block;
    float: none;
    vertical-align: top;
    
    .open > a,
    .active > a{
      background-image: none;
      color: white;
      background-color: green;
    }
    
    li a{
      font-family: 'Bevan', Times New Roman, serif;
      font-size: 24px;
      text-transform: uppercase;
      color: #b7b7b7;
      -webkit-transition: color .5s;
      transition: color .5s;
      text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
      
      &:hover{
        color: #fff;
      }
      
      i{
        font-size: 18px!important;
      }
    }
  }
  
  &.navbar-green{
    background-color: rgba(8,96,43,0.7)!important;
  }
}

#scroll-to-top{
  width: 50px;
  height: 50px;
  background-color: rgba(8,96,43,0.7);
  line-height: 50px;
  position: fixed;
  bottom: 15px;
  right: 15px;
  display: none;
}

#scroll-to-top:hover{
  cursor: pointer;
  background-color: rgba(8,96,43,0.9);
}


//Mobile Navbar

#mobile-nav-wrapper{
  height: 100vh;
  width: 200px;
  background-color: rgba(8,96,43,0.9);
  position: fixed;
  z-index: 1500;
  left: -200px;
  transition: left .5s;
  padding: 15px;
  
  &.mobile-nav-show{
    left: 0px;
  }
  
  
  #hamburger{
    position: absolute;
    top: 15px;
    right: -35px;
    
    :hover{
      cursor: pointer;
    }
  }
  
  #mobile-nav-menu{
    list-style-type: none;
    padding: 0px;
    
    li{
      font-family: $bevan;
      text-transform: uppercase;
      font-size: 28px;
      
      a{
        transition: all .5s;
        
        &:hover{
          color: #FFF;
        }
      }
    }
  }
}