.cd-timeline-content{
  
  h2{
    display: inline-block;
  }
  
  
}

.cd-timeline-img{
  
  background-color: green;
  line-height: 60px;
  font-size: 36px;
  
  i{
    position: relative;
    right: 2px;
    top: 3px;
  }
}

