#trigger-wrapper{
  text-align: center;
  
  .custom-trigger-list{
    list-style-type: none;
    padding-left: 0px;
    position: fixed;
    left: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 100;
    
    .custom-trigger{
      height: 10px;
      width: 10px;
      margin-top: 10px;
      border-radius: 100%;
      -webkit-transition: all .3s ease-in;
      transition: all .2s;
      opacity: 0.7;
      background-color: #FFF;
      
      a{
        height: 100%;
        width: 100%;
        
        &:hover,
        &:active,
        &:focus{
          background-color: transparent;
        }
      }
      
      &.active,
      &:hover{
        background-color: yellow;
        border-color: yellow;
        width: 20px;
        height: 20px;
      }
    }
  }
}